
networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:

services:
  backend:
    container_name: url-shortener-service
    build:
      context: ./url-shortener-service
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    networks:
      - app-network
    environment:
      - MONGO_URI=mongodb://mongo:27017/
    depends_on:
      - mongodb
    restart: unless-stopped
  frontend:
    container_name: url-shortener-frontend
    build:
      context: ./url-shortener-frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    networks:
      - app-network
    depends_on:
      - backend
    restart: unless-stopped
  mongodb:
    image: mongodb/mongodb-community-server:8.2-ubi9
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    command: --replSet rs0 --bind_ip_all
    healthcheck:
      test: mongosh --eval "db.adminCommand('ping')" --quiet
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
  mongo-init:
    image: mongodb/mongodb-community-server:8.2-ubi9
    depends_on:
      mongodb:
        condition: service_healthy
    restart: "no"
    entrypoint: >
      mongosh --host mongodb:27017 --eval
      "rs.initiate({_id: 'rs0', members: [{_id: 0, host: 'localhost:27017'}]})"